/* style du footer */
footer{
    background: #333;
    color: #fff;
    padding: 16px 0 7px 0;
    
    i{margin: 0 5px 0 12px;}
    
    p{line-height: 1}
    
    a:hover{color: $yellow}
        
        

}